#app {
    float: right;
    margin: 0 auto;
    transform: translateX(calc(( 100vw - min(450px, 20vw) ) / 2  - min(70vw, 98vh))) translateY(1vh);
    width: 98vh;
    height: 98vh;
    max-width: 70vw;
    max-height: 70vw;
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
    }
}

aside {
    position: relative;
    float: left;
    height: 100vh;
    width: 450px;
    max-width: 20vw;

    h1 {
        text-align: center;
    }

    .menu-display{
        display: none;
    }

    #options {
        width: calc(100% - 32px);
        padding: 16px;
        display: flex;
        flex-direction: column;

        .option {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            input[type = "checkbox"] {
                width: 24px;
                height: 24px;
                transform: scale(1);
            }

            input[type = "checkbox"]:active {
                transform: scale(1.4);
            }
        }
    }

    footer {
        width: calc(100% - 32px);
        padding: 16px;
        min-height: 120px;
        bottom: 0;
        position: absolute;
        text-align: center;
    }
}
