#app {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    >* {
        text-align: center;
        font-size: 5rem;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
        position: relative;
        &.black {
            background-color: #5e4f48;
        }
        &.white {
            background-color: #ffecd4;
        }
        .piece {
            cursor: grab;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 75%;
                height: 75%;
                align-self: center;
                margin-top: 10px;
            }
        }
        .piece:active {
            cursor: grabbing;
        }
        &.possible-move:after {
            background-color: rgb(255, 255, 255);
            content: '';
            position: absolute;
            width: 20%;
            height: 20%;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: #1c1c1c 2px solid;
            z-index: 1;
            transition: 0.4s;
        }
        &.possible-move:has(.piece):after {
            background: none;
            border-radius: 100%;
            border: rgb(255, 51, 82) 7px solid;
            font-size: 100%;
            position: absolute;
            width: 75%;
            height: 75%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            transition: 0.4s;
        }
        &.possible-move:after.hovering,  &.possible-move:has(.piece):after.hovering {
            transform: scale(1.1);
        }
    }
}
